/* navbar */

.navbar {
    background: white;
    border-bottom: 1px solid black;
}

.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
    font-size: 1.2em;
}

.navbar-brand {
    margin-right: 1em !important;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #C18576;
}

.navbar-brand:hover {
    color: #C18576;
}


/* responsive nav */

@media screen and (min-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* skills */

#skills {
    display: flex;
    justify-content: center;
    flex-flow: row;
    border-bottom: 2px dashed #B3432E;
    margin-top: 10px;
    margin-bottom: 13px;
}


/* social icons */

.navbar ion-icon {
    font-size: 1.5em;
}

ion-icon:hover {
    opacity: 0.5;
}

.footer ion-icon {
    font-size: 4.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0 !important;
    margin-top: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

ion-icon {
    flex-direction: row;
    color: black;
}


/* header */

.header {
    background-size: cover;
    background-position: center;
    padding: 1em;
    height: 16em !important;
    border-bottom: 2px dashed #B3432E;
}

.description {
    align-self: center;
    margin-top: 5em;
    text-align: center;
    padding: 1em;
}

.description h1 {
    color: #B3432E;
}

.description p {
    font-size: 1.5em;
    color: #DB7862;
    line-height: 1.5;
}


/* about section grid */

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    border: 3px dashed #C18576;
}

.about h1 {
    color: black;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
}

.about span {
    display: block;
    color: white;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 2px dashed white;
}

.about .desc h1 {
    color: black;
    font-size: 1.5em;
}

.about .desc p {
    line-height: 2;
    font-size: 1.2em;
}


/*Portfolio*/

.portfolio {
    margin: 4em 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 2px dashed #B3432E;
}

.portfolio .row {
    display: flex;
    justify-content: center;
}

.portfolio h1 {
    color: #DB7862;
    text-align: center;
    font-size: 2em;
}

.portfolio .project-title {
    color: #B14F37;
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}

.portfolio .project-title .sub-title {
    font-size: 1em;
}

.portfolio img {
    width: auto;
    margin: 1em;
    height: 25em;
}

.portfolio .project-image {
    display: flex;
    align-self: center;
    padding: 8px;
    border: 0.8px dashed #DB7862;
}

.portfolio .project-link {
    width: 100%;
    margin: 1em;
    font-size: 1em;
    text-decoration: none;
    color: #DB7862;
}


/*Blog Posts*/

#blog {
    margin-top: 15px;
}

.blog {
    margin: 4em 0;
    position: relative;
}

.blog h1 {
    color: #DB7862;
    margin: 2em;
    font-size: 1.5em;
}

.blog .card img {
    width: 100%;
    height: 100%;
}

.blog .card {
    border: 2px dashed #B3432E;
    align-items: flex-start;
    margin-bottom: 2em;
}

.blog .card-title {
    color: #B3432E;
    font-size: 20px;
}

.blog .card-body {
    padding: 1em;
}

.blog .card-text {
    font-size: 18px;
}

.blog .card-footer a {
    color: #DB7862;
}

.blog .card-footer {
    width: 100%;
}

.blog .card-footer {
    border-top: 2px dashed #B3432E;
    background: white;
}


/* contact form */

.contact-form {
    margin: 8em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #B14F37;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background-color: #B14F37;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}


/* fonts */

html,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: "Yanone Kaffeesatz";
}

h1 {
    font-family: "Alegreya Sans SC";
}


/* footer */

.footer {
    background: white;
    border-top: 1px solid black;
    height: 6em;
}


/* responsive design */

.img-fluid {
    width: 100%;
    height: auto;
}