.navbar {
  background: #FFBF3F;
}

.nav-link , .navbar-brand{
  color: black;
}

nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: white;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* header */

.header {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 10em;
}

.description {
  align-self: center;
  margin-top: 5em;
  text-align: center;
  top: 30%;
  padding: 2em;
}

.description h1 {
  color: #6E87AB;
}

.description p {
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

/* about section grid */

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color: #77A0C7;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:2px dashed #77A0C7;
}
.about .desc h3{
 color: #77A0C7;
}
.about .desc p{
 line-height:2;
 color:#888;
}

/*Portfolio*/

.portfolio{
 margin: 4em 0;
    position: relative;
}
.portfolio h1{
 color:#6E87AB;
 margin: 2em;
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}

/*Blog Posts*/

.blog{
 margin: 4em 0;
 position: relative;
}
.blog h1{
 color:#6E87AB;
 margin: 2em;
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#F97300;

}
.blog .card-body{
 padding: 1em;
}

/* contact form */

.contact-form{
 margin: 6em 0;
 position: relative;
}
.contact-form h1{
 padding:2em 1px;
 color: #F97300;
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #F97300;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}
