/* fonts */

html,h2,h3,h4,h5,h6,a{
 font-family: "Bitter";
}

h1 {
  font-family: "Glegoo";
}

/* navigation */

.navbar {
  background: #87DFA2;
}

.nav-link , .navbar-brand{
  color: black;
}

nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: white;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* header */

.header {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 10em;
  border-bottom: 1px dashed #089352;
}

.description {
  align-self: center;
  margin-top: 5em;
  text-align: center;
  top: 30%;
  padding: 2em;
}

.description h1 {
  color: #089352;
}

.description p {
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

/* about section grid */

.about {
 margin: 4em 0;
 padding: 1em;
 position: relative;
 background: #077944;
}

.about h1{
 color: black;
 margin: 2em;
}

.about img{
 height: 100%;
    width: 100%;
}
.about span{
 display: block;
 color: white;
 position: absolute;
 left: 115px;
}

.about .desc{
 padding: 2em;
 border-left:2px dashed white;
}
.about .desc h3{
 color: black;
}
.about .desc p{
 line-height:2;
 color: white;
}

.about .tech-skills {
 width: 100%;
}

.about .skill-header {
 font-size: 20px;
 margin-left: 10em;
 margin-top: 1em;
 color: black;
}

.about .skill-button {
 width: 6em;
 height: 2em;
 margin: 1em;
 background: #089352;
 color: white;
}

.about .skill-button:hover {
 background: #87DFA2;
}

/* skills */

.about .tech-skills {
 width: 100%;
}

.about .skill-button {
 width: 6em;
 height: 2em;
 margin: 1em;
 background: #089352;
 color: white;
}

.about .skill-button:hover {
 background: #87DFA2;
}

/*Portfolio*/

.portfolio{
 margin: 4em 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
}

.portfolio .row {
  display: flex;
  justify-content: center;
}

.portfolio h1 {
 color:#089352;
 text-align: center;
}

.portfolio .project-title {
 color:#089352;
 font-size: 14px;
 text-align: center;
 margin-top: 3em;
}

.portfolio img{
  height: 25em;
  width: 100%;
  margin: 1em;
}

.portfolio .project-link {
  width: 100%;
  margin: 1em;
  color: #077944;
}

/*Blog Posts*/

.blog{
 margin: 4em 0;
 position: relative;
}
.blog h1{
 color: #089352;
 margin: 2em;
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#089352;

}
.blog .card-body{
 padding: 1em;
}

.blog .card-footer a {
 color: #077944;
}

/* contact form */

.contact-form{
 margin: 8em 0;
 position: relative;
}
.contact-form h1{
 padding:2em 1px;
 color: #089352;
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #089352;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

/* footer social nav */

.social-nav {
 height: 3em;
}
