/* navigation */

.navbar {
    background: url('images/hip-square.png');
}

.nav-link,
.navbar-brand {
		color: black;
		cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #C18576;
}

.navbar-brand:hover {
    color: #C18576;
}

.navbar .icon {
	display: none;
}

/* responsive nav */

@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display: none;}
	.navbar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (min-width: 600px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
/* background design */

body {
    background: url('images/topography.png') !important;
}


/* header */

.header {
    background-size: cover;
    background-position: center;
    height: 15em !important;
    border-bottom: 2px dashed #B3432E;
}

.description {
    align-self: center;
    margin-top: 5em;
    text-align: center;
    padding: 1em;
}

.description h1 {
    color: #B3432E;
}

.description p {
    font-size: 20px;
    color: #DB7862;
    line-height: 1.5;
}


/* about section grid */

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    border: 3px dashed #C18576;
}

.about h1 {
    color: black;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
}

.about span {
    display: block;
    color: white;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 2px dashed white;
}

.about .desc h3 {
    color: black;
}

.about .desc p {
    line-height: 2;
}

.about .tech-skills {
    width: 100%;
}

.about .skill-header {
    font-size: 20px;
    margin-left: 10em;
    margin-top: 1em;
    color: black;
}


/* hexagons */

.hexagon {
    position: relative;
    width: 150px;
    height: 86.60px;
    background-color: #c85b45;
    margin: 43.30px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 43.30px solid #c85b45;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.30px solid #c85b45;
}


/* skill and hex layout */

.tech-skills {
    height: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skill-header {
    display: flex;
    justify-content: center;
}

.tech-skills h4 {
    text-align: center !important;
}

.hexagon:hover {
    background: #DB8E7D;
}

.skill-button {
    text-align: center;
    font-size: 13px;
}


/*Portfolio*/

.portfolio {
    margin: 4em 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 2px dashed #B3432E;
}

.portfolio .row {
    display: flex;
    justify-content: center;
}

.portfolio h1 {
    color: #DB7862;
    text-align: center;
}

.portfolio .project-title {
    color: #B14F37;
    font-size: 14px;
    margin-top: 3em;
    text-align: center;
}

.portfolio img {
    width: 100%;
    margin: 1em;
    height: 25em;
}

.portfolio .project-link {
    width: 100%;
    margin: 1em;
    color: #DB7862;
}

#chatvid {
    display: flex;
    align-self: center;
    padding: 1em;
    width: 100%;
    height: auto !important;
}

video {
    width: 100%;
    height: auto !important;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}


/*Blog Posts*/

.blog {
    margin: 4em 0;
    position: relative;
}

.blog h1 {
    color: #DB7862;
    margin: 2em;
}

.blog .card img {
    width: 100%;
    height: 100%;
}

.blog .card {
    border: 2px dashed #B3432E;
    align-items: flex-start;
    margin-bottom: 2em;
}

.blog .card-title {
    color: #B3432E;
}

.blog .card-body {
    padding: 1em;
}

.blog .card-footer a {
    color: #DB7862;
}

.blog .card-footer {
    width: 100%;
}

.blog .card-footer {
    border-top: 2px dashed #B3432E;
    background: white;
}


/* contact form */

.contact-form {
    margin: 8em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #B14F37;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background-color: #B14F37;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

/* fonts */

html,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: "Alegreya Sans";
}

h1 {
    font-family: "Alegreya Sans SC";
}


/* footer social nav */

.social-nav {
    height: 3em;
}


/* responsive for mobile */

img {
    max-width: 100%
}

.hex {
    width: 100%;
    height: auto;
}